.nav-p {
    grid-area: nav;
    width: auto;
    padding: 15px;
    background: #af799493;

}

    .nav-ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        list-style: none;
    }


.nav-ul li {
    margin: 5px;
    padding: 5px;
   text-decoration: none;
    border-radius: 10px;
    @include theme( $theme-color, $theme-gradient,$theme-border,$theme-border-color,$theme-button-width);

    a {
        text-decoration: none;
    }
    &:hover {
        transition: .3s;
        transform: scale(1.3);
    }
}